/* Transition */

body{
    background-color: cornflowerblue;
}

section{
    display: flex;
    flex-direction: row;
}

img{
    width: 50px;
}

#cart,
#items{
    width: 50vw;
}

#cart{
    background-color: darkgoldenrod;
}